@import url(/font.css);
.footer {
    
    width: 1296px;
    
    
}
.footer__text {
    width: 1296px;
    margin: 109px auto 30px auto;
    font-family: 'El Messiri';
    font-style: normal;
font-weight: 400;
font-size: 14px;
}
/* © 2018-2022 RitmStyle */

